<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperCRM </title>

    <link rel="stylesheet" type="text/css" href="../custom/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../custom/css/animate.css" />   
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../custom/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="../custom/css/responsive.css" />
    <link rel="icon" href="../custom/images/favicon.png" type="image/gif" sizes="10x16">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperCRM.Web.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Style", required: false)
    <style>
            body {
                margin-top:-5%;
            }

          .container {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
           /*  argin-left: 5%;   */        
          }

              .main {
        width: 95%;
        margin-left: 7%;
            }
        .top-sec {
        padding: 40px 0 0 0;
        }
            .loginMain {
                padding-top:3%;
            }
            .container-fluid {
                margin-top: 3%;
            }
            .space-30 {
             height:30px;
            }
             .dropdown-menu {
            display: none; 
            z-index: 9999 !important; 
           }

            .dropdown-menu.show {
                display: block !important; 
            }

        #dropdownMenuButtonProfile:focus {
            box-shadow:none;
         }

         #chat-side{
          overflow-y:auto;
          width: min-content;
         }
         #masterSetupDropdownUl li a:hover {
           background-color:#3a3b3c;
           border-radius:15px;
         }


    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SuperCRM.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-32">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - SuperCRM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

   @*  <script type="text/javascript" src="../custom/js/popper.min.js"></script> *@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   
    <script type="text/javascript" src="../custom/js/wow.min.js"></script>
     
    <script type="text/javascript">
        //wow animation js
    new WOW().init();

        //sidebar
    function openNav() {
      document.getElementById("chat-side").style.width = "320px";
  }

  function closeNav() {
      document.getElementById("chat-side").style.width = "0";
    }    
     // $("#dropdownMenuButtonProfile").click(function(){            
     //      $("#dropdownMenuProfile").show();
     //    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <script>
$(document).ready(function(){
   
    $("#dropdownMenuButtonProfile").on("click", function(e){
        $("#dropdownMenuProfile").fadeToggle(100); 
        e.stopPropagation(); 
    });

   
    $(document).on("click", function(e){
        if (!$(e.target).closest("#dropdownMenuProfile").length) {
            $("#dropdownMenuProfile").hide();
        }
    });

     //$("#masterSetupDropdownUl").hide();
     $("#masterSetupDropdown").on("click", function(e){
      $("#masterSetupDropdownUl").show();
       $("#masterSetupDropdownUl").css("display", "contents");
      });

});
</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
