@using Microsoft.AspNetCore.Identity
@using SuperCRM.Persistence.Identity
@using SuperCRM.Shared
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(AppRoles.SuperAdmin))
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">SuperAdmin Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="AdminUsers" asp-action="Index">Admin Users</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark"
                   href="#"
                   id="masterSetupDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Master Setup
                </a>
                <ul class="dropdown-menu" aria-labelledby="masterSetupDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Providers" asp-action="Index">
                            Providers
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" asp-controller="ProductVariantTypes" asp-action="Index">
                            Product Variant Types
                        </a>
                    </li>
                </ul>
            </li>
@* 
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Providers" asp-action="Index">Providers</a>
            </li> *@
        }

        @if (User.IsInRole(AppRoles.SuperCRMAdmin))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
            </li>
        }

        @if (User.IsInRole(AppRoles.Agent))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="AgentDashboard" asp-action="Index">Agent Dashboard</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form asp-controller="Home" asp-action="Logout" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li> *@

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Login</a>
        </li>
@* 
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="AgentRegistration" asp-action="Register">Agent Registration</a>
        </li>
 *@
    }
</ul>