<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperCRM </title>

    <link rel="stylesheet" type="text/css" href="../custom/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../custom/css/animate.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="../custom/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../custom/css/responsive.css" />
    <link rel="icon" href="../custom/images/favicon.png" type="image/gif" sizes="10x16">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperCRM.Web.styles.css" asp-append-version="true" />
     @await RenderSectionAsync("Style", required: false)
    <style>
            body {
                margin-top:0;
                margin-bottom:0;
            }
            .loginMain {
                padding:4%;
            }
            .container{
             max-width:100%;
            }
            .container-fluid {
                margin-top: 0;
            }
            .space-30 {
             height:30px;
            }
    </style>

</head>
<body>
   
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="../custom/js/popper.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="../custom/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../custom/js/wow.min.js"></script>

    <script type="text/javascript">
        //wow animation js
    new WOW().init();

        //sidebar
    function openNav() {
      document.getElementById("chat-side").style.width = "320px";
  }

  function closeNav() {
      document.getElementById("chat-side").style.width = "0";
    }    

</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
