@model SuperCRM.Web.ViewModels.SalesUnits.SalesUnitCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="UnitCode" class="form-label"></label>
    <input asp-for="UnitCode" class="form-control" />
    <span asp-validation-for="UnitCode" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="UnitName" class="form-label"></label>
    <input asp-for="UnitName" class="form-control" />
    <span asp-validation-for="UnitName" class="text-danger"></span>
</div>

<div class="form-check mb-3">
    <input asp-for="IsActive" class="form-check-input" />
    <label asp-for="IsActive" class="form-check-label"></label>
</div>
<span asp-validation-for="IsActive" class="text-danger"></span>
