@model SuperCRM.Web.ViewModels.AgentRegistration.AgentRegistrationViewModel

@{
    ViewData["Title"] = "Agent Registration";
}
@section Style {
    <link rel="stylesheet" type="text/css" href="../custom/css/style.css" /> 
    <style>
        .account-form-cls input::placeholder {
            color: gray;
        }
        .main {
             margin-left: 12.28%;
        }
        .form-select{
         background-color:lightgray;
        }
        .container-fluid{
            margin-top:15%!important;
        }

    </style>
}
 @*  <div class="row justify-content-center mt-4">
    <div class="col-md-10 col-lg-9">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="mb-0">Agent Registration</h3>
            </div>
            <div class="card-body">
                <form asp-action="Register" method="post">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    <h5 class="mb-3">Login Information</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <h5 class="mb-3">Personal Information</h5>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="PhoneNo" class="form-label"></label>
                            <input asp-for="PhoneNo" class="form-control" />
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="MobileNo" class="form-label"></label>
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <h5 class="mb-3">Address Information</h5>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="CountryId" class="form-label"></label>
                            <select asp-for="CountryId" asp-items="Model.Countries" class="form-select" id="CountryId">
                                <option value="">-- Select Country --</option>
                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label asp-for="RegionId" class="form-label"></label>
                            <select asp-for="RegionId" asp-items="Model.Regions" class="form-select" id="RegionId">
                                <option value="">-- Select Region --</option>
                            </select>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label asp-for="CityId" class="form-label"></label>
                            <select asp-for="CityId" asp-items="Model.Cities" class="form-select" id="CityId">
                                <option value="">-- Select City --</option>
                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="HouseNo" class="form-label"></label>
                            <input asp-for="HouseNo" class="form-control" />
                            <span asp-validation-for="HouseNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="RoadName" class="form-label"></label>
                            <input asp-for="RoadName" class="form-control" />
                            <span asp-validation-for="RoadName" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="PostCode" class="form-label"></label>
                            <input asp-for="PostCode" class="form-control" />
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="AddressLine1" class="form-label"></label>
                            <input asp-for="AddressLine1" class="form-control" />
                            <span asp-validation-for="AddressLine1" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="AddressLine2" class="form-label"></label>
                            <input asp-for="AddressLine2" class="form-control" />
                            <span asp-validation-for="AddressLine2" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>   *@
 <div class="main main-dashboard-wrpper">
    <div class="main-wrapper">
            <div class="container-fluid">
                <div class="cmr-dash">
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <div class="cmr-vid-dash">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cmr-vid-wrap">
                                            <h2 style="font-size:28px;text-align: center; color:royalblue;">Welcome to SuperCMR Sign up</h2>
                                            <div class="cmr-vid-img" style="display:none;">                                              
                                                <img src="images/signupimg2.jpg" alt="img">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="cmr-quick-blk">
                                            <div class="space-50"></div>
                                            <p>Our sign-up is very easy, but to get effective use of this system, you will have to wait a while for the admin to activate it.</p>

                                            <h2 class="text-center"> Are you ready to join our team?</h2>
                                            <h6 class="text-center" style="color: #00b4ff;">Create Your Account</h6>
                                                                                      
                                            <div class="cmr-cleint">
                                                <div class="row">
                                                    <div class="cmr-dash-account">
                                                        <form asp-action="Register" method="post">
                                                            <div asp-validation-summary="All" class="text-danger mb-3"></div>
                                                            <div class="tab-content">
                                                                <div id="account" class="tab-pane in active">
                                                                    <div class="account-form-cls">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <h4 style="margin: 1% 0 0 0;">Signup INFORMATION</h4>
                                                                                <hr class="my-4" style="margin-top: 10px !important">
                                                                                <div class="form-group-blk">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-4">
                                                                                            <div class="form-group">
                                                                                                <label>Email</label>
                                                                                                <input asp-for="Email" type="text" class="form-control">
                                                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-4">
                                                                                            <div class="form-group">
                                                                                                <label>Password</label>
                                                                                                <input asp-for="Password" type="text" class="form-control" placeholder="New password for supperCRM system">
                                                                                                <span asp-validation-for="Password" class="text-danger"></span>
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="col-lg-4">
                                                                                             <div class="form-group">
                                                                                                <label>Confirm Password</label>
                                                                                                <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Confirm password for supperCRM system">
                                                                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                              
                                                                            </div>
                                                                           
                                                                            <div class="col-lg-12">
                                                                                <h4 style="margin: 3% 0 0 0;">ACCOUNT INFORMATION</h4>
                                                                                <hr class="my-4" style="margin-top: 10px !important">
                                                                                <div class="form-group-blk">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>First Name</label>
                                                                                                <input asp-for="FirstName" type="text" class="form-control">
                                                                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Last Name</label>
                                                                                                <input asp-for="LastName" type="text" class="form-control">
                                                                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Phone No:</label>
                                                                                                <input asp-for="PhoneNo" type="text" class="form-control">
                                                                                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Mobile No:</label>
                                                                                                <input asp-for="MobileNo" type="text" class="form-control">
                                                                                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>House No:</label>
                                                                                                <input asp-for="HouseNo" type="text" class="form-control">
                                                                                                <span asp-validation-for="HouseNo" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Road Name</label>
                                                                                                <input asp-for="RoadName" type="text" class="form-control">
                                                                                                <span asp-validation-for="RoadName" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                             <div class="form-group">                                                                                              
                                                                                                    <label >Select Country</label>
                                                                                                   @*  <select class="form-control fsize10 height40 check-b-ge-gas-selectp">
                                                                                                        <option value="UK">United Kingdom</option>
                                                                                                        <option value="BD">Bangladesh</option>
                                                                                                        
                                                                                                    </select>   *@      
                                                                                                    <select asp-for="CountryId" asp-items="Model.Countries" class="form-select" id="CountryId">
                                                                                                        <option value="">-- Select Country --</option>
                                                                                                    </select>
                                                                                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Region</label>
                                                                                               <select asp-for="RegionId" asp-items="Model.Regions" class="form-select" id="RegionId">
                                                                                                    <option value="">-- Select Region --</option>
                                                                                                    </select>
                                                                                                <span asp-validation-for="RegionId" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>City</label>
                                                                                                <select asp-for="CityId" asp-items="Model.Cities" class="form-select" id="CityId">
                                                                                                    <option value="">-- Select City --</option>
                                                                                                </select>
                                                                                                <span asp-validation-for="CityId" class="text-danger"></span>
                                                                                            </div>
                                                                                            
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                             <div class="form-group">
                                                                                                <label>Post Code</label>
                                                                                                <input asp-for="PostCode" type="text" class="form-control">
                                                                                                <span asp-validation-for="PostCode" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>AddressLine1</label>
                                                                                                 <input asp-for="AddressLine1" class="form-control" />
                                                                                                 <span asp-validation-for="AddressLine1" class="text-danger"></span>
                                                                                            </div>                                                                                            
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                             <div class="form-group">
                                                                                                 <label>AddressLine2</label>
                                                                                                 <input asp-for="AddressLine2" class="form-control" />
                                                                                                 <span asp-validation-for="AddressLine2" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <h2></h2>
                                                                            <div class="col-lg-12" style="display:none">
                                                                                <h4 style="margin: 3% 0 0 0;">BANK INFORMATION</h4>
                                                                                <hr class="my-4" style="margin-top: 10px !important ">
                                                                                <div class="form-group-blk">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Name of Account</label>
                                                                                                <input type="text" class="form-control">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Name of Bank</label>
                                                                                                <input type="text" class="form-control">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-blk">
                                                                                    <div class="row marginTop3p">
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Account No 8 Digit</label>
                                                                                                <input type="text" class="form-control">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <div class="form-group">
                                                                                                <label>Sort Code (6 digit logged)</label>
                                                                                                <input type="text" class="form-control">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                               
                                                                            </div>
                                                                            <h2></h2>
                                                                            <div class="col-lg-6">

                                                                                <div class="form-group-blk">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="form-group">
                                                                                                <h2 style="margin: 0px 0px 15px;"></h2>
                                                                                                <div class="form__question">
                                                                                                    <p>If any problem to create</p>
                                                                                                    <a class="form__primary-btn no-border-link" href="mailto: support@supercmr.com">Please Contact our support team</a>
                                                                                                    <br />
                                                                                                    <a asp-controller="Home" asp-action="Index" class="form__primary-btn no-border-link">Back to Login</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">

                                                                                <div class="form-group-blk">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12">

                                                                                            <h2></h2>
                                                                                            <div class="form-group">
                                                                                                <div style="">                                                                                                  
                                                                                                    <button type="submit" class="btn btn-primary signup-btn form__submit">Submit</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>


                                                                            </div>



                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </form>


                                                        <div class="col-md-12" style="margin-top: -5%;">
                                                            <div class="login-footer">
                                                                <p>©2025-2026 Supper CMR. All rights reserved.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
      </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".navbar").hide();$(".footer").hide();
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const countrySelect = document.getElementById('CountryId');
            const regionSelect = document.getElementById('RegionId');
            const citySelect = document.getElementById('CityId');

            async function loadRegions(countryId) {
                regionSelect.innerHTML = '<option value="">-- Select Region --</option>';
                citySelect.innerHTML = '<option value="">-- Select City --</option>';

                if (!countryId) return;

                const response = await fetch(`/AgentRegistration/GetRegions?countryId=${countryId}`);
                const data = await response.json();

                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.text = item.name;
                    regionSelect.appendChild(option);
                });
            }

            async function loadCities(regionId) {
                citySelect.innerHTML = '<option value="">-- Select City --</option>';

                if (!regionId) return;

                const response = await fetch(`/AgentRegistration/GetCities?regionId=${regionId}`);
                const data = await response.json();

                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.text = item.name;
                    citySelect.appendChild(option);
                });
            }

            countrySelect.addEventListener('change', async function () {
                await loadRegions(this.value);
            });

            regionSelect.addEventListener('change', async function () {
                await loadCities(this.value);
            });
        });
    </script>
}